*{
    margin: 0px;
    padding: 0px;
}

#anima-div{
    background-image: url(../img/Cinderela\ Sprite.png);
    width: 200px;
    height:200px;
    animation: anima-sprite 1s steps(9) infinite;
}

.cinderela{
    width:200px;
    height: 200px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -100px;
    margin-left: -100px;
}

@keyframes anima-sprite{
    from {background-position: 0px;}
    to {background-position: -1920px;}
}

.fundo{
    background-image:linear-gradient(#fbda64,#b2e2f9, #04a2e0);
    background-repeat:no-repeat;
    width: 100%;;
    height:100%;
    left:0;
    top:0; 
    position: absolute;
    
}